  #menu {
	list-style-type: none; 
	display: inline-flex;
	position: fixed;
	background-color: rgb(224, 255, 255);
	overflow: hidden;
	width: 99%;
	z-index: 1000;
  }
  
  li {
	float: left;
  }
  
  li a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	color: black;
	text-align: right;
	padding: 16px;
	text-decoration: none;
	
  }
  li a:hover {
	background-color: rgb(204, 127, 200);
  } 
  
body{
	background-color: rgb(164, 199, 197);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
section{
	justify-content: center;
	text-align: center;		
}
b{
	font-size: 40px;
	line-height: 60px;
	color: rgb(58, 65, 71);
	
}
.sectionTitle {
	width: 99%;
	background-color: thistle;
	margin: 10px;
	/* border-top-width: 0px; */
}
form{
	color: rgb(240, 159, 9);
	box-shadow: rgb(246, 248, 255);
	/* box-shadow: 0px 0px 10px blueviolet; */
	/* width: 20%; */
	margin-left: 30%;
	margin-right: 30%;
	/* background-color: rgb(136, 136, 212); */
	background-image: url(pictures/owl.ipg.jpg);
	border-radius: 10px;
}
* {
	box-sizing: border-box;
  }
  img {
	max-width: 100%;
	vertical-align: top;
  }
.gallery {
	display: flex;
	margin: 10px auto;
	max-width: 600px;
	position: relative;
	padding-top: 66.6666666667%;
}
  @media screen and (min-width: 600px) {
	.gallery {
	  padding-top: 400px;
   }
  }
  .gallery__img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  .gallery__thumb {
	padding-top: 6px;
	margin: 6px;
	display: block;
  }
  .gallery__selector {
	position: absolute;
	opacity: 0;
	visibility: hidden;
  }
  .gallery__selector:checked + .gallery__img {
	opacity: 1;
  }
  .gallery__selector:checked ~ .gallery__thumb > img {
	box-shadow: 0 0 0 3px #0be2f6;
  }
hr{
	width: 100%;
	border: 1px solid rgb(58, 65, 71);
	width: 80%;
	background-color: rgb(58, 65, 71);
}
#temp{
	size: 2px;
	font-size: 20px;
}
#like{
	position: static;
}
.button{
	color: rgb(240, 159, 9);
	margin: 1%;
	border: solid black;
	background-color: rgb(233, 233, 214);
}
/* 
input:hover{
	background-color:  rgb(204, 127, 200);
} */