  #menu {
	list-style-type: none; 
	display: inline-flex;
	position: fixed;
	background-color: rgb(224, 255, 255,.9);
	overflow: hidden;
	z-index: 800;
  }
  
  li {
	float: left;
  }
  
  li a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	color: black;
	text-align: right;
	padding: 16px;
	text-decoration: none;	
  }
  li a:hover {
	background-color: rgb(204, 127, 200);
  } 
  
body{
	background: hsla(141, 54%, 86%, 1);

	background: linear-gradient(315deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
	
	background: -moz-linear-gradient(315deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
	
	background: -webkit-linear-gradient(315deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
	
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#caefd7", endColorstr="#f5bfd7", GradientType=1 );
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
}

section{
	justify-content: center;
	text-align: center;		
}
.headline{
	font-size: 40px;
	line-height: 60px;
	color: rgb(58, 65, 71);
	
}
.sectionTitle {
	width: 99%;
	background-color: thistle;
	margin: 10px;
}
form{
	color: rgb(0, 0, 0);
	box-shadow: rgb(246, 248, 255);
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-image: url(pictures/owl.ipg.jpg);
	border-radius: 10px;
}
* {
	box-sizing: border-box;
  }
  img {
	max-width: 100%;
	vertical-align: top;
  }
.gallery {
	display: flex;
	margin: 10px auto;
	max-width: 600px;
	position: relative;
	padding-top: 66.6666666667%;
	border-color: black;
}
  @media screen and (min-width: 600px) {
	.gallery {
	  padding-top: 400px;
   }
  }
  .gallery-img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  .gallery-small-img {
	padding-top: 6px;
	margin: 6px;
	display: block;
  }
  .gallery-selector {
	position: absolute;
	opacity: 0;
	visibility: hidden;
  }
  .gallery-selector:checked + .gallery-img {
	opacity: 1;
  }
  .gallery-selector:checked ~ .gallery-small-img > img {
	box-shadow: 0 0 0 3px #0be2f6;
  }
hr{
	width: 100%;
	border: 1px solid rgb(58, 65, 71);
	width: 80%;
	background-color: rgb(58, 65, 71);
}
#temp{
	size: 2px;
	font-size: 25px;
}

.button{
	color: rgb(0, 0, 0);
	margin: 1%;
	border: solid black;
	background-color: rgb(233, 233, 214);
}

.ans{
	text-align: left;
	margin-left: 12%;
	margin-right: 12%;
	font-size: 20px;
}
#table{
	align-self: center;
	text-align: center;
	border-color: black;
	font-size: 20px;
	justify-content: center;
	text-align: left;
}

#pagehead{
	background-image: url(pictures/headview1.jpg);
	background-size: cover;
	background-position: center center;
	position: absolute;
}
#ChavahShavitt{
	font-size: 100px;
	color: bisque;
	height: auto;
}
.top{
	width: 99%;
	margin: auto;
}
#namebox{
	width: 207.5px;
	margin: 1%;
}
#emailbox{
	width: 160px;
}
.webtypes{
	text-align: center;
}
